.marker {
  fill: white;
}

.accentcolour {
  fill: #ffac33;
}

.hour {
  x: 0%-1;
  y: -38%;
  width: 2;
  height: 12;
}

.quarter {
  x: 0%-1;
  y: -38%+10;
  width: 2;
  height: 2;
}

.text {
  fill: white;
  font-size: 20;
  x: 0%-10;
  y: -40%;
}

.status {
  font-size: 24;
  text-length: 8;
  text-anchor: middle;
}

#heart-label {
  fill: #ff3952;
}

#power-label {
  fill: #ffb442;
}

#steps-label {
  fill: #18de41;
}

#date-label {
  fill: #33a7ff;
}
