.marker {
  fill: white;
}

.accentcolour {
  fill: yellow;
}

.hour {
  x: 0%-1;
  y: -38%;
  width: 2;
  height: 12;
}

.quarter {
  x: 0%-1;
  y: -38%+10;
  width: 2;
  height: 2;
}

.text {
  fill: white;
  font-size: 20;
  x: 0%-10;
  y: -40%;
}

.status {
  font-size: 24;
  text-length: 6;
  text-anchor: middle;
}

#heart-label {
  fill: red;
}

#power-label {
  fill: yellow;
}

#steps-label {
  fill: green;
}

#date-label {
  fill: grey;
}
